* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}


html {
    min-height: 100%;
    background: url(image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
                                        
}

@media only screen and (max-width: 797px) {

.head {
    display: flex;
    min-width: 100%;
    padding-top: 0.5rem;
    background: #66DCFA;
    max-height: 3rem;
    
}


.container-1 {
    display: flex;
    min-width: 80%;
    margin: 0 auto;
    background: #66DCFA;
    

}

.image {
    display: flex;
    padding-bottom: 0.6rem;
    align-items: center;
    justify-content: center;
    animation-name: rotate;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    
}

#nav {
    position: fixed;
    display: block;
    top: 3px;
    left: 0;
    width: 0%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    opacity: .9;
    
}

.nav ul li {
    list-style: none;
    padding-left: 2rem;
    padding-top: 1rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.list-item a {
    text-decoration: none;
    color: white;
}

.close-button {
    color: white;
    position: absolute;
    right: 0;
    top: 0.4rem;
    padding-right: 1rem;
    text-decoration: none;
    font-size: 40px;
    transition: 0.5s ease;
}

.close-button:hover {
    font-size: 50px;
    color: blue;
}

.close-button a {
    text-decoration: none;
}

.container__1 {
    display: flex;
    width: 100%;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1rem;
}

.menu-item1 {
    width: 1rem;
    height: 0.2rem;
    background-color: black;
    margin-left: 20px;
}

.menu-item2 {
    width: 1rem;
    height: 0.2rem;
    background-color: black;
    margin-left: 20px;
    margin-top: 2px;
}

.menu-item3 {
    width: 1rem;
    height: 0.2rem;
    background-color: black;
    margin-left: 20px;
    margin-top: 2px;
}

.search {
    display: none;
}

.current {
    background-color: blue;
    padding: 0.2rem 0.5rem;
    
}


    .content {
        display: flex;
        min-width: 100%;
        
       
        
    }

    .content h1 {
        display: flex;
        width: 80%;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 1rem;
        line-height: 1.5em;
        font-size: calc(20px + 0.390635);
        justify-content: center;
        background-color: rgba(102, 220, 250, 0.3);
        border-radius: 30px;
        
    }

    .content-2 {
        display: flex;
        margin-top: 2rem;
        width: 100%;
    }

    .content-2 p {
        display: flex;
        width: 80%;
        margin: 0 auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        padding: 1rem;
        line-height: 1.7em;
        justify-content: center;
    }

    .content-3 {
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
    }

    .content-3 hr {
        background-color: black;
        border: 0.2px solid #66DCFA;
        opacity: 0.15;
        visibility: hidden;
    }

    .content-4 {
        background: #66DCFA;
        border: #66DCFA;
        padding-bottom: 3rem;
        width: 100%;
        height: 100%;
        margin-top: 30px;
        
    }

    .content-4 h1 {
        display: flex;
        padding: 2rem 3rem;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }

    .content-4 p {
        display: flex;
        margin-top: 4rem;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.8rem;
        animation-name: animation;
        animation-timing-function: ease-in-out;
        animation-duration: 4s;
        animation-delay: 0;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }

    .footer-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .whatsapp-img {
        padding-left: 2rem;
    }

    .twitter-img {
        padding-left: 2rem;
    }

    @keyframes animation {
      0% {
        display: none;
      }

      50% {
              margin-left: 5rem;
              color: blue;
      }

      100% {
            display: none;
      }
}

          
    @keyframes rotate {
      100% {
        transform: rotateX(360deg);
      }
    }

    

 }

 @media only screen and (width: 768px) {
    .content {
        margin-top: 60px;
    }
    .content-2 {
        margin-top: 60px;
    }
    .content-3{
        display: none;
    }
    .content-4 {
        bottom: 0;
        margin-top: 320px;
    }

    


}



@media only screen and (min-width: 798px) {
    .head { display: flex;
    background: #66DCFA;
    width: 100%;
    

}

.container-1 {
    background: #66DCFA;
    display: flex;
    width: 80%;
    margin: 0 auto;
   
}

.container-1 img {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    animation-name: rotate;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
}

.menu-icon {
    width: 0;
}

.container__1 {
    display: flex;
    width: 100%;
    margin-left: 4rem;
}

  #nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    opacity: 1;
    background: none;
    
  }


  .nav {
    display: flex;
    width: 100%;
  }

  .nav ul {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .list-item a {
    text-decoration: none;
    color: white;
    font-size: calc(12px + 0.00385vw);
    transition: 0.9s ease-in-out;
}

.list-item a:hover {
   font-size: 20px;
   text-decoration: underline;
   text-decoration-color: #50a1b5;
}


  .nav ul li {
    list-style: none;
    padding-left: 3rem;
  }

  .close-button {
    display: none;
  }

  .search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  .search input[type="search"] {
    height: 2rem;
    border: 3px solid #66DCFA;
  }

  .search input[type="search"]::placeholder {
    padding-left: 2px;
  }

  .search input[type="submit"] {
    height: 2rem;
    width: 4rem;
    border: 2px solid #50a1b5;
    transition: 1s;
    border-radius: 5px;
  }

  .search input[type="submit"]::-ms-value {
    font-family: 'Courier New', Courier, monospace;
  }

  .search input[type="submit"]:hover {
    height: 1.8rem;
    background: #66DCFA;
  }

  .current {
    background: blue;
    padding: 0.2rem 0.5rem;
  }

  .content {
    display: flex;
    width: 100%;
    background-color: rgba(102, 220, 250, 0.6);
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
    
    
  }

  .content h1 {
    background-color: rgba(102, 220, 250, 0.2);
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5em;
    border-radius: 50px;
  }

  .content-2 {
    display: flex;
    width: 100%;
    color: white;
    margin-top: 6rem;
  }

  .content-2 p {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 40%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 3rem;
    border-radius: 30px;

  }

  .content-3 {
    display: none;
  }

  .content-4 {
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
    background: #66DCFA;
  }

  .content-4 h1 {
    display: flex;
    margin-left: 25rem;
    padding-top: 4rem;
    font-size: 25px;
  }

  .footer-img {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .twitter-img {
    padding-left: 3rem;
  }

  .whatsapp-img {
    padding-left: 3rem;
  }

  .content-4 p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    animation-name: animation;
    animation-duration: 4s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  @keyframes animation {
    100% {
            margin-left: 20rem;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotateX(360deg);
    }
  }




}